aesara==2.9.3
aiohttp==3.9.5
array_api_strict==1.1.1
astropy==6.1.0
astunparse==1.6.3
attr==0.3.2
av==12.0.0
beartype==0.18.5
charset_normalizer==3.3.2
#onda== 4.3.16
ConfigParser==7.0.0
contextlib2==21.6.0
coremltools==7.2
cryptography==42.0.7
ctypes_snappy==1.03
Cython==3.0.10
deeplearning==0.0.1
defusedxml==0.7.1
diffusers==0.27.2
dill==0.3.8
disco==1.40.4
dl==0.1.0
docutils==0.21.2
etcd==2.0.8
easyocr
expecttest==0.2.1
fastparquet==2024.2.0
foo==.1
gdown==5.2.0
gmpy2==2.1.5
h5py==3.11.0
HTMLParser==0.0.2
hypothesis==6.102.4
imagecodecs==2024.1.1
imageio_ffmpeg==0.4.9
imread==0.7.5
ipython==8.12.3
ipywidgets==8.1.2
isal==1.6.1
itk==5.3.0
jnius==1.1.0
kerchunk==0.2.5
keyring==25.2.1
lark==1.1.9
lmdb==1.4.1
lockfile==0.12.2
lxml==5.2.2
lz4==4.3.3
lzmaffi==0.3.0
matchpy==0.5.5
matplotlib==3.9.0
mock==5.1.0
monkeytype==23.3.0
moviepy==1.0.3
mtrand==0.1
multiset==3.1.0
mypy==1.10.0
numarray==1.5.1
Numeric==24.2
numpydoc==1.7.0
olefile==0.47
onnxscript==0.1.0.dev20240520
optree==0.11.0
osgeo==0.0.1
pandas==2.2.2
paramiko==3.4.0
pathlib2==2.3.7.post1
pickle5==0.0.12
pillow_heif==0.16.0
pooch==1.8.1
protobuf==5.26.1
psutil==5.9.8
py==1.11.0
pyamg==5.1.0
pyarrow==16.1.0
pycocotools==2.0.7
pycosat==0.6.6
pydot==2.0.0
pydy==0.7.1
pygit2==1.15.0
pyglet==2.0.15
pygraphviz==1.13
PyInstaller==6.6.0
pymc==5.15.0
pymc3==3.11.5
pynvml==11.5.0
pyOpenSSL==24.1.0
PyQt6==6.7.0
pysat==3.2.0
PySide6==6.7.0
pytest_timeout==2.3.1
pytorch_lightning==2.2.4
pytz==2024.1
pywin32==306
railroad==0.5.0
requests_kerberos==0.14.0
s3fs==2024.5.0
safetensors==0.4.3
sage==0.0.0
scikit_learn==1.4.2
scikits.talkbox==0.2.5
setuptools_scm==8.1.0
SimpleITK==2.3.1
slack_sdk==3.27.2
Sphinx==7.3.7
symengine==0.11.0
tabulate==0.9.0
theano==1.0.5
thread==2.0.1
threadpoolctl==3.5.0
torch_xla==2.3.0
torcharrow==0.1.0
torchaudio==2.3.0
torchrec==0.7.0
tornado==6.4
transformers==4.41.0
trove_classifiers==2024.5.17
truststore==0.9.1
ujson==5.10.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
yarl==1.9.4
z3==0.2.0
zarr==2.18.1
zstandard==0.22.0
zstd==1.5.5.1
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability